<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/app.css">
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
</head>
<body>

<div>

  <nav class="navbar navbar-default navbar-app">
    <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/">Home</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a routerLink="/">Cart</a></li>
        </ul>
        <div ng-controller="ExampleController">
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input ng-model="searchObject.searchString" type="text" class="form-control" placeholder="Search">
            </div>
          </form>
          <div>
            <ul class="nav navbar-nav">
              <li style="margin-top: 17px">Sort by:</li>
              <li class="form-group" style="margin-left: 10px; margin-top: 9px">
                <select ng-model="searchObject.sortString" class="form-control">
                  <option value="age">Newest</option>
                  <option value="name">Alphabetical</option>
                </select>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </nav>

  <div>
    <div class="container-fluid" >

      <div class="row">

        <div class="col-md-2">
          <!--Sidebar content-->

          <section ng-controller="CartController" >
            <p>Shopping Cart</p>
            <div ng-if="cart.length !== 0" >
              <button type="button" class="btn btn-danger" ng-click="ClearCart()" >Clear cart</button>
            </div>
            <!--<div style="color: red;" ng-if="cart.length === 0" >Cart is empty!</div>-->

            <!--<ul>-->

              <!--<li ng-repeat="cartItem in cart">-->

                <!--<span ng-bind="cartItem.name"></span>-->
                <!--<span ng-bind-template="Amount: ({{cartItem.amount}})"></span>-->
                <!--<span ng-click="RemoveItem($index)" style="color: red; font-size: 18px; cursor: pointer">X</span>-->

              <!--</li>-->
            <!--</ul>-->
          </section>


        </div>

        <div ></div>

        <router-outlet></router-outlet>

      </div>
    </div>
  </div>
</div>


</body>
</html>
